@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
  --font-inter-sans: 'Inter', sans-serif;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  @apply font-sans;
}

body {
  color: var(--foreground);
  background: var(--background);  
}
